@if (presentation.state().isMobilePresentationActive) {
    <app-register-mobile-view [state]="viewState" (register)="doRegister()"
        (usernameBlur)="updateUsernameErrorMessage()" (emailBlur)="updateEmailErrorMessage()"
        (passwordBlur)="updatePassErrorMessage()">
    </app-register-mobile-view>
} @else {
    <app-register-wood-view [state]="viewState" (register)="doRegister()"
        (usernameBlur)="updateUsernameErrorMessage()" (emailBlur)="updateEmailErrorMessage()"
        (passwordBlur)="updatePassErrorMessage()">
    </app-register-wood-view>
}
