<div class="h-100 p-3">
    <mat-card class="p-3">
        <form [formGroup]="fgRegister" (ngSubmit)="doRegister()">
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label class="ms-3">Nombre</mat-label>
                <input matInput class="ms-3" formControlName="name" (blur)="updateNameErrorMessage()"
                    required maxlength="30" tabindex="1">
                <mat-icon matTextPrefix>account_box</mat-icon>
                @if (name.invalid) {
                <mat-error align="start">{{errorNameMessage}}</mat-error>
                }
                <mat-hint align="end">{{ name.value ? name.value.length : 0 }} / 30</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label class="ms-3">Correo electrónico</mat-label>
                <input matInput class="ms-3" placeholder="LeoLibros@gmail.com" formControlName="email"
                    (blur)="updateEmailErrorMessage()" required maxlength="30" tabindex="2">
                <mat-icon matTextPrefix>email</mat-icon>
                @if (email.invalid) {
                <mat-error align="start">{{errorEmailMessage}}</mat-error>
                }
                <mat-hint align="end">{{ email.value ? email.value.length : 0 }} / 30</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label class="ms-3">Introduce tu contraseña</mat-label>
                <input matInput class="ms-3" [type]="passHide ? 'password' : 'text'" formControlName="password"
                    (blur)="updatePassErrorMessage()" required maxlength="30" tabindex="3">
                <mat-icon matTextPrefix>password</mat-icon>
                <button type="button" mat-icon-button matSuffix (click)="passHide = !passHide"
                    [attr.aria-label]="'Esconder contraseña'" [attr.aria-pressed]="passHide">
                    <mat-icon>{{passHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (password.invalid) {
                <mat-error>{{errorPassMessage}}</mat-error>
                }
                <mat-hint align="end">{{ password.value ? password.value.length : 0 }} / 30</mat-hint>
            </mat-form-field>
            <div class="w-100 d-flex justify-content-end mb-3" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                <h5>¿Ya tienes una cuenta? <span>Inicia sesión aquí</span></h5>
            </div>
            <div class="position-relative">
                <button mat-raised-button [disabled]="fgRegister.invalid">
                    Confirmar registro
                    <mat-icon>border_color</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>