@if (presentation.state().activeMode === 'web') {
    <app-register-web-view [state]="viewState" (register)="doRegister()"
        (emailBlur)="updateEmailErrorMessage()"
        (passwordBlur)="updatePassErrorMessage()">
    </app-register-web-view>
} @else if (presentation.state().isMobilePresentationActive) {
    <app-register-mobile-view [state]="viewState" (register)="doRegister()"
        (emailBlur)="updateEmailErrorMessage()"
        (passwordBlur)="updatePassErrorMessage()">
    </app-register-mobile-view>
} @else {
    <app-register-wood-view [state]="viewState" (register)="doRegister()"
        (emailBlur)="updateEmailErrorMessage()"
        (passwordBlur)="updatePassErrorMessage()">
    </app-register-wood-view>
}
