@if (presentation.state().activeMode === 'web') {
    <app-onboarding-web-view [state]="viewState" (submitOnboarding)="submit()" (retryPolicy)="loadPolicy()" (changeEmail)="changeEmail()"></app-onboarding-web-view>
} @else if (presentation.state().isMobilePresentationActive) {
    <app-onboarding-mobile-view [state]="viewState" (submitOnboarding)="submit()" (retryPolicy)="loadPolicy()" (changeEmail)="changeEmail()"></app-onboarding-mobile-view>
} @else {
    <app-onboarding-wood-view [state]="viewState" (submitOnboarding)="submit()" (retryPolicy)="loadPolicy()" (changeEmail)="changeEmail()"></app-onboarding-wood-view>
}
