<div class="container-fluid">
    <div class="row">
        <div class="col-2 text-white">
            <div class="wrapper">
                <div id="title" class="mb-3">
                    <p class="mb-0">
                        {{book?.name}}
                    </p>
                    <img src="data:image/jpeg;base64,{{book?.cover}}">
                </div>
                <ul class="mb-0">
                    <li class="bg-red" (click)="addChapter()">
                        <mat-icon matTextPrefix class="me-2">auto_stories</mat-icon>Nuevo capítulo
                    </li>
                    <li class="bg-red" (click)="addCharacter()">
                        <mat-icon matTextPrefix class="me-2">person_add</mat-icon>Nuevo personaje
                    </li>
                    <li class="bg-blue" (click)="alternateList()">
                        <mat-icon matTextPrefix class="me-2">{{(showChaps === true ? 'menu_book' : 'group')}}</mat-icon>
                        Mostrando {{(showChaps === true ? 'capitulos' : 'personajes')}}
                        <mat-icon matTextSuffix class="ms-2">arrow_downward</mat-icon>
                    </li>
                    <div class="frame-shadowed d-grid w-100 h-100 gap-2 p-2 mt-2">
                        @if(showChaps){
                        @for (chapter of book?.chapters; track chapter?.chapterId) {
                        <li id="{{chapter.chapterId}}" (click)="openChapter($event)">
                            <mat-icon matTextPrefix class="me-2">play_lesson</mat-icon>
                            {{chapter.name}}
                        </li>
                        }
                        } @else {
                        @for (character of book?.characters; track character?.characterId) {
                        <li id="{{character.characterId}}" (click)="openCharacter($event)">
                            <mat-icon matTextPrefix class="me-2">person_search</mat-icon>
                            {{character.name}}
                        </li>
                        }
                        }
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div class="wrapper d-flex justify-content-start align-items-start">
                <app-book-router></app-book-router>
            </div>
        </div>
    </div>
</div>