:host
    display: block
    height: var(--app-viewport-height, 100dvh)
    background-color: #17120e

.logged
    height: 100%

.not-logged
    height: 100%

@media screen and (max-width: 1050px)
    :host
        height: 100%
        
    .logged, .not-logged
        height: 100%
