:host
    display: block
    height: 100vh
    background-color: #17120e

.logged
    height: 100%

.not-logged
    height: 100%

@media screen and (max-width: 1050px)
    :host
        height: 100%
        
    .logged, .not-logged
        height: 100%
