<mat-card class="p-3">
    <form [formGroup]="fgSaga" (ngSubmit)="addSaga()">
        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Nombre de la saga</mat-label>
            <input matInput formControlName="name" (change)="updateNameErrorMessage()" required>
            <mat-icon matTextPrefix class="me-3">device_hub</mat-icon>
            @if (name.invalid) {
            <mat-error align="start">{{errorNameMessage}}</mat-error>
            }
            <mat-hint align="end">{{ name.value ? name.value.length : 0 }} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Universo</mat-label>
            <input type="text" aria-label="Universo" matInput [formControl]="universe"
                [matAutocomplete]="autoUniverses">
            <mat-autocomplete #autoUniverses="matAutocomplete">
                @for (option of filteredUniverses | async; track option) {
                <mat-option [value]="option">{{option}}</mat-option>
                }
            </mat-autocomplete>
            <mat-icon matTextPrefix class="me-3">grain</mat-icon>
            @if (universe.invalid) {
            <mat-error align="start">{{errorUniverseMessage}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Autor/es</mat-label>
            <mat-select [formControl]="author" #authorsSelect multiple>
                @for (author of authors; track author) {
                <mat-option [value]="author">{{author.name}}</mat-option>
                }
            </mat-select>
            <mat-icon matTextPrefix class="me-3">record_voice_over</mat-icon>
        </mat-form-field>
        <div class="position-relative">
            <button mat-raised-button [disabled]="fgSaga.invalid || waitingServerResponse">
                Añadir saga
                <mat-icon>border_color</mat-icon>
            </button>
            @if (waitingServerResponse) {
            <div class="spinner-wrapper">
                <ngx-loading [show]="waitingServerResponse" [config]="spinnerConfig"></ngx-loading>
            </div>
            }
        </div>
    </form>
</mat-card>