<div class="app-toast-host" aria-live="polite" aria-atomic="false">
    <div
        class="app-toast"
        *ngFor="let toast of toasts$ | async; trackBy: trackByToastId"
        [ngClass]="'app-toast--' + toast.type">
        <mat-icon class="app-toast__icon" *ngIf="toast.type === 'success'">check_circle</mat-icon>
        <mat-icon class="app-toast__icon" *ngIf="toast.type === 'error'">error_outline</mat-icon>
        <mat-icon class="app-toast__icon" *ngIf="toast.type === 'info'">info</mat-icon>
        <mat-icon class="app-toast__icon" *ngIf="toast.type === 'system'">notifications_active</mat-icon>

        <span class="app-toast__text">{{ toast.message }}</span>
        <span class="app-toast__repeat" *ngIf="toast.repeatCount > 1">x{{ toast.repeatCount }}</span>

        <button
            type="button"
            class="app-toast__close"
            aria-label="Cerrar notificacion"
            (click)="dismiss(toast.id)">
            <mat-icon>close</mat-icon>
        </button>

        <span class="app-toast__progress" [style.animation-duration.ms]="toast.durationMs"></span>
    </div>
</div>
