@if (presentation.state().isMobilePresentationActive) {
    <app-reset-password-mobile-view [state]="viewState" (confirmReset)="confirmReset()"
        (passwordBlur)="updatePassErrorMessage()" (repeatBlur)="updatePasswordRepeatErrorMessage()"></app-reset-password-mobile-view>
} @else {
    <app-reset-password-wood-view [state]="viewState" (confirmReset)="confirmReset()"
        (passwordBlur)="updatePassErrorMessage()" (repeatBlur)="updatePasswordRepeatErrorMessage()"></app-reset-password-wood-view>
}
