@use '../../../assets/css/variables'
@use '../../../assets/css/animations'

:host
    position: absolute
    top: 15px
    right: 15px
    bottom: 15px
    left: 15px

    display: block
    background-color: rgba(156, 124, 99, 0.705)
    border-radius: 8px
    box-shadow: 5px 5px 5px variables.$dark, -1px -1px 5px variables.$dark

    animation: breathing-shadow 3s infinite alternate
    overflow: auto
