<div class="h-100 w-100 p-3">
    <form [formGroup]="fgPersonaje" (submit)="setCharacter();">
        <h1 class="text-center">{{(character.name && character.name !== '' ? 'Actualizando a ' + character.name :
            'Nuevo personaje')}}</h1>
        <button mat-stroked-button type="submit">{{(character.name && character.name !== '' ? 'Actualizar personaje' : 'Guardar personaje')}}</button>
        <mat-form-field appearance="outline" class="w-100 csp-2">
            <mat-label class="ms-3">Nombre</mat-label>
            <input matInput class="ms-3" formControlName="name" (blur)="updateNameErrorMessage()"
                required maxlength="30" tabindex="1">
            <mat-icon matTextPrefix>account_box</mat-icon>
            @if (name.invalid) {
            <mat-error align="start">{{errorNameMessage}}</mat-error>
            }
            <mat-hint align="end">{{ name.value ? name.value.length : 0 }} / 30</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="fit csp-2">
            <mat-label>Describe el personaje</mat-label>
            <textarea matInput placeholder="Describe el personaje" formControlName="description" class="h-100" rows="11"
                (blur)="updateDescriptionErrorMessage()" tabindex="2"></textarea>
            @if (name.invalid) {
            <mat-error align="start">{{errorDescriptionMessage}}</mat-error>
            }
        </mat-form-field>
    </form>
</div>