@use '../../../../../assets/css/variables.sass'

:host
    display: none

div
    display: flex
    justify-content: center
    align-items: center

    height: 21px
    
    background-color: variables.$dark

    p
        margin-bottom: 0
