@use '../../../../assets/css/variables'
@use '../../../../assets/css/snackbar'
@use '../../../../assets/css/forms'

div
    display: flex
    justify-content: center
    align-items: center

    mat-card
        width: min(520px, 100%)

        background-color: variables.$accentT
        border: solid black 1px
        border-radius: 4px
        box-shadow: 5px 5px 5px variables.$dark

        h1
            font-size: 1.35rem
            font-weight: 700

        p
            margin-bottom: 18px

        h5
            cursor: pointer
            text-decoration: underline

            margin: 0

        .actions
            display: flex
            justify-content: space-between
            align-items: center

            gap: 16px
