<mat-drawer-container [hasBackdrop]="false" autosize mat-drawer>
    <mat-drawer #drawer mode="side" opened="true">
        <div id="title">
            <img *ngIf="book && book.Portada" [src]="imgUrl + 'cover/' + book.Portada" alt="Portada del libro"
                (error)="handleCoverImageError($event)">
            <p class="mb-0" [matTooltip]="book.Nombre" matTooltipClass="tt-accent">
                {{book.Nombre}}
            </p>
        </div>
        <div id="botonera">
            <img id="nuevo_cap" src="../../../../../assets/media/img/nuevo_capituloW.png" alt="Nuevo capítulo" (click)="addChapter()">
            <img id="nueva_par" src="../../../../../assets/media/img/nueva_parteW.png" alt="Nueva parte">
            <img id="nuevo_int" src="../../../../../assets/media/img/nuevo_interludioW.png" alt="Nuevo interludio">
        </div>
        <div class="wrapper">
            <div id="capitulos">
                <div *ngFor="let item of displayList">
                    <button [id]="item.data.Id" class="exterior" mat-stroked-button *ngIf="item.type === 'chapter'"
                        (click)="openChapter(item.data.Id)">
                        {{ getChapterName(item.data) }}
                    </button>
                    <mat-card *ngIf="item.type === 'part' || item.type === 'interlude'">
                        <mat-card-header>
                            <mat-card-title>{{ item.name }}</mat-card-title>
                            <ng-container *ngIf="item.type === 'interlude'; else vacio">
                                <button mat-icon-button>
                                    <mat-icon>add_box</mat-icon>
                                </button>
                                <button mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-container>
                            <ng-template #vacio>
                                <div></div>
                                <button mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-template>
                        </mat-card-header>
                        <mat-card-content>
                            <ng-container *ngFor="let subItem of item.data">
                                <button *ngIf="subItem.type === 'chapter'" [id]="subItem.data.Id" mat-stroked-button
                                    (click)="openChapter(subItem.data.Id);">
                                    {{ getChapterName(subItem.data) }}
                                </button>
                                <mat-card *ngIf="subItem.type === 'interlude'">
                                    <mat-card-header>
                                        <mat-card-title>{{ subItem.name }}</mat-card-title>
                                        <button mat-icon-button>
                                            <mat-icon>add_box</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ng-container *ngFor="let interChapter of subItem.data">
                                            <button [id]="interChapter.data.Id" mat-stroked-button
                                                *ngIf="interChapter.type === 'chapter'"
                                                (click)="openInterludeChapter(interChapter.data.Id);">
                                                {{ getChapterNameFromDisplayItem(interChapter) }}
                                            </button>
                                        </ng-container>
                                    </mat-card-content>
                                </mat-card>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <nav id="entityToolbar" aria-label="Entidades narrativas del libro">
            <button id="drawerToggle" mat-icon-button type="button" matTooltip="Abrir o cerrar menu del libro"
                matTooltipClass="tt-accent" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="entity-action" *ngFor="let action of entityToolbarActions">
                <button mat-icon-button type="button" [matTooltip]="'Ver ' + action.label"
                    matTooltipClass="tt-accent" (click)="navigateBookChild(action.listRoute)">
                    <mat-icon>{{ action.icon }}</mat-icon>
                </button>
                <button mat-icon-button type="button" [matTooltip]="'Crear ' + action.label"
                    matTooltipClass="tt-accent" (click)="navigateBookChild(action.createRoute)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </nav>
        <div class="wrapper d-flex justify-content-start align-items-start">
            <app-book-router></app-book-router>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
