<mat-drawer-container hasBackdrop="true" mat-drawer>
    <mat-drawer #drawer mode="over" opened="true">
        <div class="wrapper">
            <div id="title" class="mb-3">
                <img src="{{imgUrl}}image/cover/{{sessionSrv.userId}}/{{book.cover}}" alt="Portada del libro"
                    (error)="handleCoverImageError($event)">
                <p class="mb-0" [matTooltip]="book.Nombre" matTooltipClass="tt-accent">
                    {{book.Nombre}}
                </p>
                <mat-icon (click)="drawer.toggle()">close</mat-icon>
            </div>
            <ul class="mb-0">
                <li class="bg-red" (click)="addChapter(); drawer.toggle();">
                    <mat-icon matTextPrefix class="me-2">auto_stories</mat-icon>Nuevo capítulo
                </li>
                <li class="bg-red" (click)="addCharacter(); drawer.toggle();">
                    <mat-icon matTextPrefix class="me-2">person_add</mat-icon>Nuevo personaje
                </li>
                <li class="bg-blue" (click)="alternateList()">
                    <mat-icon matTextPrefix class="me-2">{{(showChaps === true ? 'menu_book' : 'group')}}</mat-icon>
                    Mostrando {{(showChaps === true ? 'capitulos' : 'personajes')}}
                    <mat-icon matTextSuffix class="ms-2">arrow_downward</mat-icon>
                </li>
                <div class="frame-shadowed d-grid w-100 h-100 gap-2 p-2 mt-2">
                    @if(showChaps) {
                    @if(book.chapters.length > 0) {
                    @for (chapter of book.chapters; track chapter?.chapterId) {
                    <li id="{{chapter.chapterId}}" (click)="openChapter($event); drawer.toggle();">
                        <mat-icon matTextPrefix class="me-2">play_lesson</mat-icon>
                        {{chapter.name}}
                    </li>
                    }
                    } @else {
                    <li>
                        <mat-icon matTextPrefix class="me-2">play_lesson</mat-icon>
                        No hay capítulos aún
                    </li>
                    }
                    } @else {
                    @if(book.characters.length > 0) {
                    @for (character of book.characters; track character?.characterId) {
                    <li id="{{character.characterId}}" (click)="openCharacter($event); drawer.toggle();">
                        <mat-icon matTextPrefix class="me-2">person_search</mat-icon>
                        {{character.name}}
                    </li>
                    }
                    } @else {
                    <li>
                        <mat-icon matTextPrefix class="me-2">person_search</mat-icon>
                        No hay personajes aún
                    </li>
                    }
                    }
                </div>
            </ul>
            <mat-form-field appearance="outline" class="status w-100 mb-3">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="actualStatus" (valueChange)="updateBookStatus($event)">
                    <mat-option [value]="1">Por comprar</mat-option>
                    <mat-option [value]="2">En espera</mat-option>
                    <mat-option [value]="3">En marcha</mat-option>
                    <mat-option [value]="4">Leido</mat-option>
                </mat-select>
                <mat-icon matTextPrefix class="me-3">{{actualStatus === 'Por comprar' ? 'remove_shopping_cart' :
                    actualStatus === 'En espera' ? 'access_time' : actualStatus === 'En marcha' ? 'local_library' :
                    'done_all'}}</mat-icon>
            </mat-form-field>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="wrapper d-flex justify-content-start align-items-start">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <app-book-router></app-book-router>
        </div>
    </mat-drawer-content>
</mat-drawer-container>