<mat-drawer-container hasBackdrop="true" mat-drawer>
    <mat-drawer #drawer mode="over" opened="true">
        <div id="title">
            <img *ngIf="book && book.Portada" [src]="imgUrl + 'cover/' + book.Portada" alt="Portada del libro"
                (error)="handleCoverImageError($event)">
            <p class="mb-0" [matTooltip]="book.Nombre" matTooltipClass="tt-accent">
                {{book.Nombre}}
            </p>
            <mat-icon (click)="drawer.toggle()">close</mat-icon>
        </div>
        <div id="botonera" *ngIf="isBookActive()">
            <img id="nuevo_cap" src="../../../../../assets/media/img/nuevo_capituloW.png" alt="Nuevo capítulo" (click)="addChapter()">
            <img id="nueva_par" src="../../../../../assets/media/img/nueva_parteW.png" alt="Nueva parte">
            <img id="nuevo_int" src="../../../../../assets/media/img/nuevo_interludioW.png" alt="Nuevo interludio">
        </div>
        <div class="wrapper" [ngClass]="isBookActive() ? '' : 'full'">
            <div id="capitulos" *ngIf="showChaps">
                <div *ngFor="let item of displayList">
                    <button [id]="item.data.Id" class="exterior" mat-stroked-button *ngIf="item.type === 'chapter'"
                        (click)="openChapter(item.data.Id);drawer.toggle()">
                        {{ getChapterName(item.data) }}
                    </button>
                    <mat-card *ngIf="item.type === 'part' || item.type === 'interlude'">
                        <mat-card-header>
                            <mat-card-title>{{ item.name }}</mat-card-title>
                            <ng-container *ngIf="item.type === 'interlude'; else vacio">
                                <button mat-icon-button>
                                    <mat-icon>add_box</mat-icon>
                                </button>
                                <button mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-container>
                            <ng-template #vacio>
                                <div></div>
                                <button mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-template>
                        </mat-card-header>
                        <mat-card-content>
                            <ng-container *ngFor="let subItem of item.data">
                                <button *ngIf="subItem.type === 'chapter'" [id]="subItem.data.Id" mat-stroked-button
                                    (click)="openChapter(subItem.data.Id);drawer.toggle();">
                                    {{ getChapterName(subItem.data) }}
                                </button>
                                <mat-card *ngIf="subItem.type === 'interlude'">
                                    <mat-card-header>
                                        <mat-card-title>{{ subItem.name }}</mat-card-title>
                                        <button mat-icon-button>
                                            <mat-icon>add_box</mat-icon>
                                        </button>
                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <ng-container *ngFor="let interChapter of subItem.data">
                                            <button [id]="interChapter.data.Id" mat-stroked-button
                                                *ngIf="interChapter.type === 'chapter'"
                                                (click)="openInterludeChapter(interChapter.data.Id);drawer.toggle();">
                                                {{ getChapterNameFromDisplayItem(interChapter) }}
                                            </button>
                                        </ng-container>
                                    </mat-card-content>
                                </mat-card>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div id="bookData" *ngIf="!showChaps">
                <div id="data">
                    <div class="button-wrapper">
                        <button mat-stroked-button>
                            <mat-icon>co_present</mat-icon> Personajes
                        </button>
                        <button mat-stroked-button class="add">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button mat-stroked-button>
                            <mat-icon>groups</mat-icon> Organizaciones
                        </button>
                        <button mat-stroked-button class="add">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button mat-stroked-button>
                            <mat-icon>event</mat-icon> Eventos
                        </button>
                        <button mat-stroked-button class="add">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button mat-stroked-button>
                            <mat-icon>my_location</mat-icon> Localizaciones
                        </button>
                        <button mat-stroked-button class="add">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button mat-stroked-button>
                            <mat-icon>auto_awesome</mat-icon> Conceptos
                        </button>
                        <button mat-stroked-button class="add">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div class="button-wrapper">
                        <button mat-stroked-button>
                            <mat-icon>auto_stories</mat-icon> Citas
                        </button>
                        <button mat-stroked-button class="add">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                </div>
                <div id="state">
                    <mat-form-field appearance="outline" class="status w-100 mb-3">
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="actualStatus" (valueChange)="updateBookStatus($event)">
                            <mat-option [value]="1">Por comprar</mat-option>
                            <mat-option [value]="2">En espera</mat-option>
                            <mat-option [value]="3">En marcha</mat-option>
                            <mat-option [value]="4">Leido</mat-option>
                        </mat-select>
                        <mat-icon matTextPrefix class="me-3">{{actualStatus === 'Por comprar' ? 'remove_shopping_cart' :
                            actualStatus === 'En espera' ? 'access_time' : actualStatus === 'En marcha' ?
                            'local_library' :
                            'done_all'}}</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div id="toggleBotonera">
            <button mat-stroked-button (click)="alternateList()">
                <mat-icon>360</mat-icon>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="wrapper d-flex justify-content-start align-items-start">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
            <app-book-router></app-book-router>
        </div>
    </mat-drawer-content>
</mat-drawer-container>