<div class="h-100 w-100 p-3">
    <form [formGroup]="fgChapter" (submit)="setChapter();">
        <h1 class="text-center">{{(chapter.name && chapter.name !== '' ? 'Actualizando ' + chapter.name :
            'Nuevo capítulo')}}</h1>
        <button mat-stroked-button type="submit">{{(chapter.name && chapter.name !== '' ? 'Actualizar capítulo' : 'Guardar capítulo')}}</button>
        <mat-form-field appearance="outline">
            <mat-label class="ms-3">Nombre</mat-label>
            <input matInput class="ms-3" formControlName="name" (blur)="updateNameErrorMessage()"
                required>
            <mat-icon matTextPrefix>account_box</mat-icon>
            @if (name.invalid) {
            <mat-error align="start">{{errorNameMessage}}</mat-error>
            }
            <mat-hint align="end">{{ name.value ? name.value.length : 0 }} / 30</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label class="ms-3">Orden</mat-label>
            <input matInput class="ms-3" placeholder="1" formControlName="order" (blur)="updateOrderErrorMessage()"
                required>
            <mat-icon matTextPrefix>pin</mat-icon>
            @if (name.invalid) {
            <mat-error align="start">{{errorNameMessage}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline" class="h-100">
            <mat-label>¿Qué ocurrió durante el capítulo?</mat-label>
            <textarea matInput placeholder="¿Qué ocurrió durante el capítulo?" class="h-100" rows="11" formControlName="description" (blur)="updateDescriptionErrorMessage()"></textarea>
        </mat-form-field>
        <div formArrayName="characters" class="frame">
            <h2 class="text-center mb-0">Personajes</h2>
            <div *ngFor="let characterControl of characters.controls; let i = index">
                <p class="mb-0">
                    <mat-checkbox id="{{book.characters[i].characterId}}" [formControlName]="i" (change)="handleCharacterSelectionChange($event, book.characters[i].characterId)">
                        {{book.characters[i].name}}
                    </mat-checkbox>
                </p>
            </div>
        </div>
    </form>
</div>