<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Añadir nuevo administrador
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-admin-register></app-admin-register>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gestión de usuarios
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-all-users></app-all-users>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gestión de libros
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="limited-height">
                <app-all-books></app-all-books>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>