<div class="p-3">
    <a class="nav-link text-uppercase" routerLink="/register">
        <mat-card>
            <mat-card-content style="background-image: url('../../../../../../assets/media/img/register.png');"></mat-card-content>
            <mat-card-footer>
                <p class="text-white">Date de alta</p>
            </mat-card-footer>
        </mat-card>
    </a>
    <a class="nav-link text-uppercase" routerLink="/login">
        <mat-card>
            <mat-card-content style="background-image: url('../../../../../../assets/media/img/login.png');"></mat-card-content>
            <mat-card-footer>
                <p class="text-white">Inicia sesión</p>
            </mat-card-footer>
        </mat-card>
    </a>
</div>
